{% load search_filter %}

<form class="d-flex mt-3" action="{% url 'mainapp:category_detail' slug=category.slug %}" method="GET">
  <input class="form-control me-2" name="search" type="search" placeholder="Поиск товара" aria-label="Search">
  <button class="btn btn-outline-success" type="submit">Поиск</button>
</form>
<hr>
<form action="{% url 'mainapp:category_detail' slug=category.slug %}" method="GET">
  {{ category|product_spec }}
  <p class="text-center">
    <button class="btn btn-outline-success" type="submit">Поиск</button>
    <button class="btn btn-outline-info" type="submit">Сбросить</button>
  </p>
</form>