{% load search_filter %}


<div class="left-sidebar">

  <h2>Category</h2>
  <div class="panel-group category-products"><!--category-products-->
    <div class="panel panel-default brands-name">
      {% for category in categories %}
        <p>
          <a href="{{ category.get_absolute_url }}"
             class="{% if current_page == category.slug %}active{% endif %}">{{ category.name }}
            <span class="float-right">({{ category.product_set.count }})</span>
          </a>
        </p>
      {% endfor %}
    </div>
  </div><!--/category-products-->


  <h2>Category</h2>
  <div class="panel-group category-products"><!--category-products-->
    <div class="panel panel-default brands-name">
      {% for category in categories %}
        <p>
          <a href="{{ category.get_absolute_url }}">{{ category.name }}
            <span class="float-right">({{ category.product_set.count }})</span>
          </a>
        </p>
      {% endfor %}
    </div>
  </div><!--/category-products-->




</div><!--/Left_sidebar-->
