{% load search_filter %}


<div class="left-sidebar">

  <h2>Category</h2>
  <div class="panel-group category-products"><!--category-products-->
    <div class="panel panel-default brands-name">
      {% for category in categories %}
        <p>
          <a href="{{ category.get_absolute_url }}"
             class="{% if current_page == category.slug %}active{% endif %}">{{ category.name }}
            <span class="float-right">({{ category.product_set.count }})</span>
          </a>
        </p>
      {% endfor %}
    </div>
  </div><!--/category-products-->


  <h2>Brands</h2>
  <div class="panel-group category-products"><!--category-products-->
    <div class="panel panel-default brands-name">
      {% for brand in brands %}
        <p>
          <a href="{% url 'main:brand_detail' brand.pk %}" class="{% if request.resolver_match.kwargs.pk|add:'0' == brand.pk %}
                  active {% endif %}">{{ brand.name }}
            <span class="float-right">({{ brand.product_set.count }})</span>
          </a>
        </p>
      {% endfor %}
    </div>
  </div><!--/category-products-->




</div><!--/Left_sidebar-->
