{% extends 'cart_base.html' %}
{% load static %}

{% block title %} {{ title|title }} {% endblock %}

{% block content %}


  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><a href="{% url 'mainapp:index' %}">Home</a></li>
        <li class="active">Shopping Cart</li>
      </ol>
    </div>

    <div class="h2 text-center head">
        Your Cart,
      {% if user.first_name %}
        {{ user.first_name|title}}
      {% else %}
        {{ user.username|title}}
      {% endif %}
    </div>
  </div>


  <div class="basket_list">

  {% include 'basketapp/includes/inc_basket_list.html' %}

  </div>  <!--/#basket-list-->

  <div class="offset-sm-10 button-checkout">
    <a class="btn btn-default check_out" href="">Check Out</a>
  </div>

{% endblock %}


{#{% block JS %}#}
{#  <script src="{% static 'js/basket_scripts.js' %}"></script>#}
{#{% endblock %}#}