{% extends 'cart_base.html' %}
{% load static %}

{% block title %} {{ title|title }} {% endblock %}

{% block content %}



  <div class="breadcrumbs">
    <ol class="breadcrumb">
      <li><a href="{% url 'mainapp:index' %}">Home</a></li>
      <li class="active">Check out</li>
    </ol>
  </div><!--/breadcrums-->


  {% include 'basketapp/includes/inc_user_info.html' %}

  <div class="container">
    <div class="payment-options">
      <span>
        <label><input type="checkbox"> Direct Bank Transfer</label>
      </span>
      <span>
        <label><input type="checkbox"> Check Payment</label>
      </span>
      <span>
        <label><input type="checkbox"> Paypal</label>
      </span>
    </div>
  </div>

  <div class="review-payment">
    <h2>Review & Payment</h2>
  </div>

  <div class="basket_list">
    {% include 'basketapp/includes/inc_checkout_list.html' %}
  </div>  <!--/#basket-list-->



  <div class="float-right check_out">
    <a class="btn btn-primary" href="{% url 'order:order_create' %}">Continue</a>
  </div>







{% endblock %}

