<div class="header-bottom"><!--header-bottom-->
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="navbar-header">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                  aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        </div>
        <div class="mainmenu float-left ">
          <ul class="nav navbar-nav collapse" id="navbarResponsive">
            <li><a href="{% url 'mainapp:index' %}" class="active">Home</a></li>
            <li class="dropdown"><a href="#">Shop<i class="fa fa-angle-down"></i></a>
              <ul role="menu" class="sub-menu">
                <li><a href="{% url 'mainapp:category_detail' slug='notebooks' %}">Products</a></li>
                <li><a href="#">Wishlist</a></li>
                <li><a href="#">Checkout</a></li>
                {#                <li><a href="#">Login</a></li>#}
                <li><a href="#">Cart</a></li>

              </ul>
            </li>
            <li class="dropdown"><a href="#">Blog<i class="fa fa-angle-down"></i></a>
              <ul role="menu" class="sub-menu">
                <li><a href="#">Blog List</a></li>
                <li><a href="#">Blog Single</a></li>
              </ul>
            </li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="search_box float-right">
          <input type="text" placeholder="Search"/>
        </div>
      </div>
    </div>
  </div>
</div><!--/header-bottom-->
