{% extends 'cart_base.html' %}
{% load static %}

{% block title %} {{ title|title }} {% endblock %}

{% block content %}


  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><a href="{% url 'mainapp:index' %}">Home</a></li>
        <li class="active">Favorite Items</li>
      </ol>
    </div>

    <div class="h2 text-center head">
        Your Favorite Items,
      {% if user.first_name %}
        {{ user.first_name|title}}
      {% else %}
        {{ user.username|title}}
      {% endif %}
    </div>
  </div>


  <div class="basket_list">

  {% include 'mainapp/includes/inc_bookmark_list.html' %}

  </div>  <!--/#basket-list-->


{% endblock %}


