{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title|title }}|{{ brand.slug }} {% endblock %}


{% block ads %}
  <section id="advertisement">
    <div class="container">
      <img src="{% static 'img/advertisement.jpg' %}" alt=""/>
    </div>
</section>
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <ol class="breadcrumb">
      <li><a href="{% url 'mainapp:index' %}">Home</a></li>
      <li class="active">Brand: {{ brand.name }}</li>

    </ol>
  </div>
{% endblock %}

{% block messages %}
  {% include 'includes/inc_message.html' %}
{% endblock %}

<!-- Left Side Bar -->
{% block side_bar %}
  {% include "mainapp/includes/inc_side_bar.html" %}

  <form class="d-flex mt-3 d-flex justify-content-center" action="{% url 'mainapp:index' %}" method="GET">
    <div class="search_box ">
      <input name="search" type="search" placeholder="Поиск товара" aria-label="Search">

    </div>
    <button class="btn btn-primary" type="submit">
      <i class="bi bi-search"></i>
    </button>
  </form>
  <div class="d-flex mt-3 d-flex justify-content-center">
    <a href="{% url 'mainapp:index' %}" class="btn btn-default" type="submit">Очистить</a>
  </div>
{% endblock %}
<!-- /.col-lg-3 -->

<!-- Content -->
{% block content %}

  <div class="features-items">
    <h2 class="title text-center">{{ brand.name }}</h2>
    <div class="row">

      {% for product in products %}
        <div class="col-lg-4 col-md-6 mb-1">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <a href="{{ product.get_absolute_url }}"><img class="card-img-top" src="{{ product.image.url }}" alt=""></a>
                <h2>{{ product.price }} руб.</h2>
                <p><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></p>
{#                <a href="{% url 'add_to_cart' slug=product.slug %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>#}
                <a href="{% url 'basket:add' product.pk %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
              </div>
            </div>

            {% if product.is_new == True %}
              <img src="{% static 'img/new.png' %}" class="new" alt="" />
            {% endif %}
            {% if product.is_sale == True %}
              <img src="{% static 'img/sale.png' %}" class="new" alt="" />
            {% endif %}

            <div class="add-wish-list">
              {% if user not in product.bookmarks.all %}
                <a href="{% url 'main:bookmark_add' product.pk %}" id="bookmark" data-id="{{ product.pk }}">
                  <i class="bi bi-heart icon{{ product.pk }}"></i>
                </a>
              {% else %}
                <a href="{% url 'main:bookmark_add' product.pk %}" id="bookmark" data-id="{{ product.pk }}">
                  <i class="bi bi-heart-fill icon{{ product.pk }}"></i>
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
    <!-- /.row -->
    <!-- Pagination -->
{#    <div class="pagination-area">#}
{#      <ul class="pagination justify-content-end">#}
{#        <li class="page-item"><a href="" class="active">1</a></li>#}
{#        <li class="page-item"><a href="">2</a></li>#}
{#        <li class="page-item"><a href="">3</a></li>#}
{#        <li class="page-item"><a href=""><i class="bi bi-chevron-right"></i></a></li>#}
{#      </ul>#}
{#    </div>#}
  </div>

{% endblock %}


  {% block JS %}
    <script src="{% static 'js/bookmarks.js' %}"></script>
  {% endblock %}
