{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title|title }} {% endblock %}



<!-- Left Side Bar -->
{% block side_bar %}
  {% include "mainapp/includes/inc_side_bar.html" %}
  {#  <hr>#}
  {#  {% include "mainapp/includes/inc_productfilter.html" %}#}
{% endblock %}
<!-- /.col-lg-3 -->

{% block content %}

  {% include 'mainapp/includes/inc_modal.html' %}

  <div class="product-details"><!--product-description-->
    <div class="row">

      <div class="col-lg-5">
        <div class="view-product">
          <img src="{{ product.image.url }}" alt=""/>
{#          <h3>ZOOM</h3>#}
          <button  type="button" class="btn btn-default float-right" data-toggle="modal" data-target="#exampleModal-{{ product.id }}">ZOOM</button>
        </div>

        <!--  carousel -->
        <div id="similar-product" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner ">
            <div class="carousel-item active">
              <a href=""><img src="http://placehold.it/100x100" alt=""></a>
              <a href=""><img src="http://placehold.it/100x100" alt=""></a>
              <a href=""><img src="http://placehold.it/100x100" alt=""></a>
            </div>
            <div class="carousel-item">
              <a href=""><img src="http://placehold.it/100x100" alt=""></a>
              <a href=""><img src="http://placehold.it/100x100" alt=""></a>
              <a href=""><img src="http://placehold.it/100x100" alt=""></a>
            </div>

          </div>

          <!-- Controls -->
          <a class="left  item-control" href="#similar-product" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a class="right item-control loat-right" href="#similar-product" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div><!--/carousel-->

   <!--image and short description-->

    <div class="col-lg-7">
      <div class="product-information"><!--/product-information-->
        <img src="{% static 'img/new.jpg' %}" class="newarrival" alt=""/>
        <h2>{{ product.title }}</h2>
        <p>Web ID: 1089772</p>
        <img src="{% static 'img/rating.png' %}" alt=""/>
        <div>
          <span>{{ product.price }} руб.</span>

          <a href="{% url 'basket:add' product.pk %}" type="button" class="btn btn-primary cart">
            <i class="fa fa-shopping-cart"></i>
            Add to cart
          </a>
        </div><br>

        <div>
          <p><b>Availability:</b> {{ product.quantity }} In Stock</p>
          <p><b>Condition:</b> New</p>
          <p><b>Brand:</b> "BRAND-NEW"</p>
        </div>

        <a href=""><img src="{% static 'img/share.png' %}" class="share img-responsive" alt=""/></a>
      </div><!--/product-information-->
    </div>

  </div>
  </div><!--/product-description-->

  <!--product-specifications-->
  <div class="specifications">
  <p class="mt-4">Характеристики:</p>
    <table class="table">
      <tbody>
      {% for f_name, f_value in product.get_features.items %}
        <tr>
          <th scope="row">{{ f_name }}</th>
          <td>{{ f_value }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  {% include "mainapp/includes/inc_product_tabs.html" %}

{% endblock %}
