{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title|title }} {% endblock %}

<!-- Left Side Bar -->
{% block side_bar %}
  {% include "mainapp/includes/inc_side_bar.html" %}
  {#  <hr>#}
  {#  {% include "mainapp/includes/inc_productfilter.html" %}#}
{% endblock %}
<!-- /.col-lg-3 -->

{% block content %}

  <div class="product-details"><!--product-details-->
    <div class="row">


      <div class="col-lg-5">
        <div class="view-product">
          <img src="{{ product.image.url }}" alt=""/>
          <h3>ZOOM</h3>
        </div>

        <!--  carousel -->
        <div id="similar-product" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner ">
            <div class="carousel-item active">
              <a href=""><img src="http://placehold.it/100x100" alt=""></a>
              <a href=""><img src="http://placehold.it/100x100" alt=""></a>
              <a href=""><img src="http://placehold.it/100x100" alt=""></a>
            </div>
            <div class="carousel-item">
              <a href=""><img src="http://placehold.it/100x100" alt=""></a>
              <a href=""><img src="http://placehold.it/100x100" alt=""></a>
              <a href=""><img src="http://placehold.it/100x100" alt=""></a>
            </div>

          </div>

          <!-- Controls -->
          <a class="left  item-control" href="#similar-product" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a class="right item-control loat-right" href="#similar-product" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div><!--/carousel-->




    <div class="col-lg-7">
      <div class="product-information"><!--/product-information-->
        <img src="{% static 'img/new.jpg' %}" class="newarrival" alt=""/>
        <h2>{{ product.title }}</h2>
        <p>Web ID: 1089772</p>
        <img src="{% static 'img/rating.png' %}" alt=""/>
        <span>
									<span>{{ product.price }} руб.</span>
									<label>Qty:</label>
									<input type="text" value="3"/>
									<button type="button" class="btn btn-fefault cart">
										<i class="fa fa-shopping-cart"></i>
										Add to cart
									</button>
								</span>
        <p><b>Availability:</b> In Stock</p>
        <p><b>Condition:</b> New</p>
        <p><b>Brand:</b> E-SHOPPER</p>
        <a href=""><img src="{% static 'img/share.png' %}" class="share img-responsive" alt=""/></a>
      </div><!--/product-information-->
    </div>

  </div>
  </div><!--/product-details-->



{% endblock %}
