{% extends 'base.html' %}
{% load static %}


{% block ads %} {% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <ol class="breadcrumb">
      <li><a href="{% url 'mainapp:index' %}">Home</a></li>
      <li><a href="{% url 'blog:main' %}">Blog</a></li>
      <li class="active">Blog Post #{{ item.pk }}</li>
    </ol>
  </div>
{% endblock %}



<!-- Left Side Bar -->
{% block side_bar %}
  {% include "mainapp/includes/inc_side_bar.html" %}
{% endblock %}
<!-- /.col-lg-3 -->

<!-- Content -->
{% block content %}
  <div class="blog-post-area">
    <h2 class="title text-center">Blog Post #{{ item.pk }}</h2>

    <div class="single-blog-post">

        <div class="post-meta">
          <ul>
            <li><i class="bi bi-person-fill"></i> Mac Doe</li>
            <li><i class="bi bi-clock"></i> 1:33 pm</li>
            <li><i class="bi bi-calendar-event"></i> {{ item.created_at|date:"Y-m-d" }} </li>
          </ul>
        </div>
        <h5 class="card-title text-success">{{ item.title }}</h5>
        <div class="card mb-3">
          <div class="card-body">
            <div class="">
              {% if item.photo %}
                <img style="float: left" src="{{ item.photo.url }}" alt="" width="400" class="mr-3">
              {% else %}
                <img src="https://picsum.photos/id/866/picsum/350/263" alt="">
              {% endif %}
              <div class="media-body">

                <p class="card-text text-muted">{{ item.content|safe|linebreaks }}</p>
               <a href="{% url 'blog:main' %}" class="btn btn-primary">Back...</a>
              </div>
            </div>
          </div>
{#          <div class="pager-area">#}
{#            <ul class="pager pull-right">#}
{#              <li><a href="#">Pre</a></li>#}
{#              <li><a href="{% url 'blog:main' %}">Back</a></li>#}
{#              <li><a href="#">Next</a></li>#}
{#            </ul>#}
{#          </div>#}
        </div>
    </div>

  </div>


{% endblock %}

{% block JS %} {% endblock %}
